.jumbotron{
    background-color: white;
    margin: 0;
}

.jumbtron .jumptron-heading {
    font-weight: 350;
}

.footer {
    padding-top: 3rem;
    padding-bottom: 4rem;   
    text-align: center;
}